div#objets
  position: fixed
  top: 100px
  right: 0
  text-align: left

  button
    &.obb
      // Un bouton outil sélection
      &.selected
        background-color: darkgreen
        color: white


// Les objets de l'analyse
div.aobjet
  position: absolute
  background-color: #CCCCCC
  padding: 0.2em 1em
  border: 1px solid transparent

  &.selected
    border-color: blue
