div#analyse-container-page-number
  position: fixed
  top: 0
  right: 0

div#score-analyse-container
  zoom: 100%
  width: auto
// img#expanded-score-current-page, img#score-ini

div.marge-tools
  // La boite d'édition de l'objet
  div#aobject-toolbox
    position: absolute
    right: 0
    top: 300px
    background-color: #CFC
    padding: 1em
    border: 1px solid
    border-radius: 0.2em

    // Le div contenant l'ID de l'objet édité
    div#div-id
      font-weight: bold

    div#div-infos, div#div-infos > *
      vertical-align: -webkit-baseline-middle
      select#aobj-note
        line-height: 1.5 !important
    div.buttons
      margin-top: 2em
      text-align: right

  // La boite des propriétés de l'objet à créer
  div#objets
    position: absolute
    top: 100px
    right: 0
    text-align: left

    button
      &.obb
        // Un bouton outil sélection
        &.selected
          background-color: darkgreen
          color: white
