// Le conteneur des systèmes
div#systems-container
  background-color: white
  margin-left: 2em
  position: relative
  zoom: 100%

  > div:not(.clear)
    position: absolute

  div.system
    > span.numero-mesure
      position: absolute
      top: -12px
      left: 10px
      font-family: Georgia, Times, serif
      color: #777777
      padding: 0em 0.3em 0.2em
      text-align: center
      border: 1px solid
      opacity: 1
      background-color: wheat
      cursor: pointer


  div.page-separator
    width: 100%
    height: 2px
    background-color: green

    // Numéro de page
    span.page_number
      position: absolute
      color: green
      right: 8px
      top: -28px

// Aspect des éléments de la première page (pour le réglage des préférences
// aussi)
// (titre, compositeur, etc.)
div.oeuvre-title
  font-size: 30pt
div.oeuvre-composer
  font-size: 18pt
div.oeuvre-composing_year
  font-style: italic
  font-size: 14pt

div.oeuvre-analyst, div.oeuvre-analyze_year
  span.value
    font-size: 13pt
  span.libelle
    display: inline-block
    width: 44px
    vertical-align: baseline
    font-size: 11pt


// Pour pouvoir changer de page
// Mais est-ce vraiment utile ?
div#analyse-container-page-number
  position: fixed
  top: 0
  right: 0

div.marge-tools.analyse
  background-color: #DDDDDD
  width: 400px
  // La boite d'édition de l'objet
  div#aobject-toolbox
    position: absolute
    right: 0
    top: 300px
    background-color: #CFC
    padding: 1em
    border: 1px solid
    border-radius: 0.2em

    // Le div contenant l'ID de l'objet édité
    div#div-id
      font-weight: bold

    div#div-infos, div#div-infos > *
      vertical-align: -webkit-baseline-middle
      select#aobj-note
        line-height: 1.5 !important
    div.buttons
      margin-top: 2em
      text-align: right

  // Divers boutons pour lancer l'animation de l'analyse, pour repositionner
  // les systèmes et annexe, etc.
  div#boutons-controleur-analyse
    position: absolute
    bottom: 100px
    padding: 1em

span#voyant_save
  position: fixed
  top: 8px
  left: 8px
  width: 12px
  height: 12px
  border-radius: 12px
  background-color: green
  z-index: 1000
  cursor: pointer
