// Les objets de l'analyse
div.system
  div.aobjet
    position: absolute
div#aobject_apercu
  div.aobjet
    position: relative

div.aobjet
  border: 2px solid transparent
  font-family: "Arial Unicode MS", Arial
  opacity: 1
  transition: opacity 1s
  height: 24px // fixera la taille de l’image
  z-index: 10

  img.objet-prop-img
    height: 100%
    width: auto
