// Les objets de l'analyse
div.system
  img.system
    width: 100%
  div.aobjet
    position: absolute
div#aobject_apercu
  div.aobjet
    position: relative

div.aobjet
  border: 2px solid transparent
  font-family: "Arial Unicode MS", Arial
  opacity: 1
  transition: opacity 1s
  height: 24px // fixera la taille de l’image
  padding: 0 6px 0 0 // à voir à l’usure si c’est vraiment nécessaire
  z-index: 10

  // L'objet quand il est sélectionné
  &.selected
    border-color: blue !important

  // L'objet, quand on n'est pas dans une animation (il présente un fond
  // grisé pour voir où il sera)
  &:not(.animate)
    background-color: #EEEEEE
  // L'objet d'analyse lorsqu'on est dans l'animation
  &.animate
    &:not(.segment):not(.pedale)
      border: 2px solid transparent
      background-color: white !important
    &.segment, &.pedale
      background-color: transparent !important

  // Pour masquer l'objet au début de l'analyse
  &.hiddenO
    display: block
    opacity: 0

  &:not(.segment)
    z-index: 10


  // Type particulier du segment
  &.segment
    z-index: 5
    &:not(.selected)
      border-style: dashed
      border-width: 1px
      border-color: black
    &.up
      &:not(.selected)
        border-bottom: none
    &.down
      top: 160px!important // TODO Pouvoir le régler aussi
      &:not(.selected)
        border-top: none

  // Type particulier de la modulation
  // Cette fois, la marque est mise dans un div.mark
  &.modulation
    div.mark
      transform: rotate(-30deg)
      transform-origin: bottom left
      height: 26px // un peu plus grand que les accords
      border-bottom: 2px solid
      margin-left: 1px
      padding-left: 4px
      width: 80px
      span.rel
        display: inline-block
        height: 16px
        vertical-align: top
        &:before
          content: "("
          font-size: 12px
          vertical-align: super
        &:after
          content: ")"
          font-size: 12px
          vertical-align: super
    div.vline
      height: 80px
      margin-top: -2px
      border-left: 2px solid black

  &.pedale
    line-height: 0.8
    span.degre
      padding: 0px 4px
      font-size: 9pt
      border: 1px solid black
      border-radius: 20px


  div.trait
    display: inline-block
    height: 20%
    width: 90%
    margin-left: 4px
    border-top: 1px solid

  img.objet-prop-img
    height: 100%
    width: auto
