// Tous les panneaux possède une marge droite d'outils
div.marge-tools
  z-index: 1000
  position: fixed
  right: 0
  top: 0
  height: -webkit-fill-available

// Toutes les images de la partition, page complète ou système
div.score
  width: 19cm
  > img
    width: 100%
