@media print
  body
    width: auto

    // Le div qui sera vraiment imprimé
    div#score-analyse-container
      zoom: 75%

    .aobjet
      background-color: white !important

    aside#tabs-buttons
      display: none

    div#marge-tools
      display: none
