@media print
  body
    width: 20cm
    background-color: white !important

    div#systems-container
      margin-left: 0.5cm !important
      margin-right: 0.5cm !important
      zoom: 147%

    .aobjet
      background-color: transparent !important
      &.selected
        border-color: transparent !important

    div.page-separator
      border-color: transparent!important
      // span.page_number, span.footer
      //   top: -28px !important

    span#voyant_save
      display: none

    aside#tabs-buttons
      display: none

    div.marge-tools
      display: none
