@media print
  body
    width: auto

    div#systems-container
      margin-left: 0!important

    .aobjet
      &:not(.segment)
        background-color: white !important
      &.segment
        background-color: transparent!important

    aside#tabs-buttons
      display: none

    div.marge-tools
      display: none
