div.row
  width:  1020px
  // border: 1px dashed green
  > span
    display: inline-block
    // border: 1px dashed red

    &.libelle
      width:  200px
      font-size: 0.85em

    &.value
      width: 800px
      input[type="text"], textarea
        width: 100%
