aside#tabs-buttons
  position: fixed
  bottom: 0
  right: 0
  background-color: black
  padding: 0.5em 1em
  z-index: 1000

  button.tabbutton
    border-right: 1px solid #CCCCCC
    font-variant: all-small-caps
    font-size: 13pt
    padding: 0.4em 1em

section#tabs
  div#tab-home, div#tab-export
    padding: 2em

button
  &#analyse-help-button, &#btn-crop
    background-color: green
    color: white
    position: fixed
    top: 4px
    right: 4px

section#tabs
  // Le panneau pour la découpe
  div#tab-crop

    div#score-container
      position: relative
      margin: 0!important
      padding: 0!important

div.hline
  position: absolute
  left: 0
  height: 20px
  border-bottom: 1px solid blue
  width: 100%
  cursor: move
