aside#tabs-buttons
  position: fixed
  bottom: 0
  right: 0
  background-color: black
  padding: 0.5em 1em

  button.tabbutton
    border-right: 1px solid #CCCCCC
    padding: 0.5em 1em
    color: white
